h1 {
	text-align: center;
}
body {
	background:#a3c2c2;
	
}
ol {
	list-style-type:none;
	  margin:0;
  display: flex;
justify-content: space-around;
color: #233a5e;
}
#parentDiv{

}

img {
	margin-bottom: 8px;
}

figcaption#yams {
	color: blue;
}

figcaption#yams {
	color: purple;
}

figcaption#yams:hover {
	color: red;
}

figure {
	color: yellow;
}